[2012-11-25 18:58] moesenle opened #1 "Don't use hard-coded command `python` in sip_helper.cmake"
In systems that already switched to python3, e.g. Arch Linux, calling `python` will execute python3. Normally, I just set the variable PYTHON_EXECUTABLE to /usr/bin/python2 to avoid this kind of problems. I suggest to use that variable instead of a hard-coded binary name in sip_helper.cmake as well.

[2012-12-06 23:19] #1 closed, assigned to nobody

[2013-02-28 04:23] 130s opened #2 "API that's open to developers (binding_helper) needs more documented"
A few missing documents:
- [x] `python_qt_binding.loadUi` should obligate the 3rd arg, since `PySide` binding requires the 3rd arg in order to incorporate custom widget classes, whereas `PyQt` doesn't ([Related discussion](http://answers.ros.org/question/56382/what-does-python_qt_bindingloaduis-3rd-arg-do-in-pyqt-binding/?answer=56400#post-id-56400))
- [x] Some public variables (`QT_BINDING`, `QT_

[2013-03-02 05:19] 130s opened #3 "Make python_qt_binding standalone"
I just don't know why it has to depend on `catkin` & `rosbuild`. If it is not necessary we can make it separate from `ROS`. I think it would be useful especially after having looked at [PySide that doesn't handle .ui file well](https://github.com/ros-visualization/python_qt_binding/issues/2#issuecomment-14277445).

[2013-08-02 22:33] #3 closed, assigned to dirk-thomas

[2013-08-02 22:39] #2 closed, assigned to dirk-thomas

[2013-08-08 17:14] EBNull opened #6 "Add pyqtRemoveInputHook and pyqtRestoreInputHook dummy methods on QtCore when using pySide"
PyQt4 has two methods on QtCore to help one futz around in the interpreter / in pdb. PySide lacks that functionality, and doesn't install any input hooks at all.

I propose that the code checks for these two methods, and if they don't exists, create them as lambdas that do nothing.

Something like:

[code]

after the import goes well would suffice.

See http://pyqt.sourceforge.net/Docs/PyQt4/qtcor

[2013-08-08 18:42] #6 closed, assigned to nobody

[2013-09-12 07:57] bit-pirate opened #7 "Is dependency on Python 3.2 necessary?"
The Hydro debs for Precise pull it in. However, ROS seems not ready for it (http://www.ros.org/reps/rep-0003.html#python) and on Precise there is a broken symlink (https://bugs.launchpad.net/ubuntu/+source/python2.7/+bug/941362).

[2013-09-12 09:08] #7 closed, assigned to nobody

[2013-10-03 23:03] dirk-thomas opened #8 "fails to provide QString / QStringList"
While these types are accessible when using e.g. PyQt4 directly:

[code]

the same does not work thorugh python_qt_binding.

The user can usually use native Python strings and list of strings. But it would be nice if the same way which works for the native bindings would also work with python_qt_binding.

[2013-10-04 14:44] #8 closed, assigned to nobody

[2013-11-01 21:52] dirk-thomas opened #9 "sip bindings don't build when path contains spaces"

[2013-11-01 21:53] #9 closed, assigned to dirk-thomas

[2014-07-07 14:14] bchretien opened #13 "pyqtconfig is deprecated (and unavailable on some distributions)"
[`sip_configure.py`](https://github.com/ros-visualization/python_qt_binding/blob/groovy-devel/cmake/sip_configure.py#L5) currently relies on `pyqtconfig` which is deprecated since `pyqt4` 4.10 (cf. the [official documentation](http://pyqt.sourceforge.net/Docs/PyQt4/build_system.html)), and is likely to be removed (unless `pyqt4` was packaged with the legacy script, more information [here](http://p

[2014-10-13 08:18] Nodd opened #17 "Add a readme with link to documentation"
Well, the title says it all, there is no information at all on the project page. At least a summary, quick example and link to http://wiki.ros.org/python_qt_binding is necessary.

[2014-10-13 17:14] #17 closed, assigned to nobody

[2015-01-17 09:05] jgoppert opened #18 "catkin install, fails to create python install directory"
I fixed this with the command:
mkdir -p ~/ros/install/python_qt_binding/lib/python2.7/dist-packages/

[2015-02-04 19:32] dirk-thomas commented on #18
Can you please describe what exact commands you ran when having the problem?

[2015-02-04 19:41] jgoppert commented on #18
I believe i was using the new catkin tools.

[2015-02-04 19:43] dirk-thomas commented on #18
Please provide enough information to easily reproduce your problem.

[2015-02-04 19:48] jgoppert commented on #18
This was too long ago for me to remember, you can close it if you like.

[2015-02-04 20:02] dirk-thomas commented on #18
Since I can build the package locally without a problem as well as the farm can build the binary packages I will close it.

If the problem occurs again please comment with more information and the ticket can be reopened.

[2015-02-04 20:02] #18 closed

[2015-04-21 05:42] wjwwood opened #20 "Request for Jade release"
This is blocking me from releasing `rviz` into Jade.

@dirk-thomas I haven't tried it yet, but you may need to consider merging https://github.com/ros-visualization/python_qt_binding/pull/15 for Utopic+.

[2015-04-23 01:43] dirk-thomas commented on #13
It looks like that Ubuntu ships with 4.11 in Vivid but it does not have that problem. It is likely still build with `configure.py` instead of the new `configure-ng.py`.

I took a closer look to the PR and am a bit worried about all the hard coded values, especially https://github.com/ros-visualization/python_qt_binding/pull/15/files#diff-eba1f022829502c99827bbf06f688d22R25. Therefore I have create

[2015-04-23 05:22] bchretien commented on #13
@dirk-thomas Thanks for looking into this. Here is what I get when I build `rviz` with this patch applied:
[code]

I guess [this extra entry](https://github.com/ros-visualization/python_qt_binding/pull/15/files#diff-eba1f022829502c99827bbf06f688d22R37) in the dictionary would solve this. Was there any particular reason for only keeping the `qt_dir` entry when loading data from the `qtconfig` dicti

[2015-04-23 16:55] dirk-thomas commented on #13
Thanks for testing so quick. I only tried to build rqt on-top. I will add the entry you mentioned and try again with rviz.

[2015-04-23 18:08] dirk-thomas commented on #13
I added the extra entry (as well asthe other `qtconfig` directories). A local rviz build of Jade passed. Therefore I have created a new PR with the patch: #21.

I will already go ahead and merge and release it to move fast for Jade. Please give it another try on Arch to ensure its working for you as well. Thank you.

[2015-04-23 18:08] #13 closed

[2015-04-23 18:15] dirk-thomas commented on #20
Done: ros/rosdistro#8112

Ubuntu (I tried only Vivid) is not affected by #13.

[2015-04-23 18:15] #20 closed

[2015-04-29 07:24] aballier opened #22 "cmake/sip_configure.py calls non standard 'qmake-qt4'"
python_qt_binding has been fixed for recent pyqt versions, thanks for that, however it has been done in a way that calls 'qmake-qt4' (instead of just 'qmake') which seems to be an invention of some distributions ( seen e.g. on https://wiki.archlinux.org/index.php/Qt#Installation and https://wiki.archlinux.org/index.php/Qt#Default_Qt_toolkit ) and that I don't have.

I am not sure how this should b

[2015-04-29 23:41] dirk-thomas commented on #22
Since this seems to be specific to whatever system you are using (and I have no way to check / confirm this) can you please try your proposed change and report back if it works?

Providing a PR for hit would be highly appreciated and likely speed up the process :wink:

[2015-05-04 07:26] aballier commented on #22
I'm already patching it locally to replace 'qmake-qt4' with 'qmake' and it seems to work perfectly. What I'm not sure is if this doesn't break other systems :/

[2015-05-04 20:03] dirk-thomas commented on #22
Related to a recent change: #13

On ubuntu the dependency `qt4-qmake` depends on `qtchooser` which will bring in `qmake`. So it should be fine on Ubuntu. I have created PR #23 to address it.

@bchretien Can you please double check that it still works for you with the PR applied?

[2015-05-05 00:21] bchretien commented on #22
[code]

Looks good to me.

[2015-05-05 00:38] #22 closed

[2015-05-05 00:38] dirk-thomas commented on #22
@bchretien Thank you for checking.

[2015-06-08 07:24] John-Nagle opened #24 "binding_helper fails when "future" package is installed"
Ubuntu 14.04 LTS / 64 bit. ROS/Gazebo Jade installed per instructions at "http://wiki.ros.org/jade/Installation/Ubuntu"

I'm working through the tutorials, in order. Everything went well until the first use of "rqt_graph" in the turtle tutorial. This produced the error:

    rosrun rqt_graph rqt_graph
    Traceback (most recent call last):
      File "/opt/ros/jade/lib/rqt_graph/rqt_graph", line 8

[2015-06-08 20:43] dirk-thomas commented on #24
The current code base uses a conditional import to address the different location of this function in different Python versions: https://github.com/ros-visualization/python_qt_binding/blob/c96c580a418052c5e5ba578d48d178b9a608f8c7/src/python_qt_binding/binding_helper.py#L33-L36

Can you please post the version number of the `python_qt_binding` package you are using? If you are not using 0.2.15 or n

[2015-06-08 21:02] John-Nagle commented on #24
Yes, I saw that. That conditional import approach doesn't work with Python 2.7.6. "import builtins" succeeds. But "builtins" in Python 2.7.6 doesn't have builtins.__import__. So

    module =  builtins.__import__(name)

at line 106 fails.

As ROS sets it up,

   PYTHONPATH="/opt/ros/jade/lib/python2.7/dist-packages"

That internal symbol isn't in Python 2.7.6.
See below.

Try using the supported a

[2015-06-08 21:10] dirk-thomas commented on #24
I am using Python 2.7.6 on Trusty and for me the following line raises an `ImportError`:

    python -c "import builtins"

What path does the following command output for you:

    python -c "import builtins; print builtins.__file__"

[2015-06-09 01:48] John-Nagle commented on #24
/usr/local/lib/python2.7/dist-packages/builtins/__init__.pyc

[2015-06-09 18:12] dirk-thomas commented on #24
Thanks for looking into your configuration. That clarifies why it didn't fail on my machine.

I have created PR #25 to swap the import order for now. That worked for me - with and without the `future` package installed. Can you please try the proposed patch and confirm that it works for you too?

I might update the code to use `importlib` in another iteration. Thanks for the suggestion.

[2015-06-09 18:55] John-Nagle commented on #24
![rqt_graph_fixed](https://cloud.githubusercontent.com/assets/942608/8066672/c392475c-0e9d-11e5-9276-92f6dcc649a2.png)

That works. Replaced the version of binding_helper.py with the one from PR #25, and rqt_graph displays properly. See attached screenshot of it working. Thanks.

I'd suggest using importlib in future. "__import__" is deprecated. Using importlib, you don't have to keep up with inte

[2015-06-09 18:55] #24 closed

[2015-06-09 19:11] dirk-thomas commented on #24
Thanks for confirming.

[2016-01-05 20:24] vidartf opened #26 "Update PyPI"
Currently `python_qt_binding` is only at [0.2.14 on PyPI](https://pypi.python.org/pypi/python_qt_binding), meaning python3 Qt apps cannot have it as an automatically installed dependency when installing from pip. Would it be possible to update the package version available on PyPI to fix this?

[2016-01-05 23:14] dirk-thomas commented on #26
Sure, I have just uploaded the current release (0.2.17) to PyPI.

[2016-01-05 23:14] #26 closed

[2016-01-20 09:00] neo5simple opened #28 "archlinux, python2.7 not work for `buildtins.__import__(name)` in line 106"
followed ROS wiki installation for Archlinux, almost goes well. but when I try call

[code]

got `AttributeError: 'module' object has no attribute '__import__'`

finally I found my Python2.7.11 work fine with `__builtin__`, but the try-except in `binding_helper.py` has  no exception for this `import builtins`. I'm not a python programmer, so just comment it, and add import line manually.

[2016-01-20 17:19] dirk-thomas commented on #28
Can you please:
* clarify which exact version you are using
* post the exact error message including line numbers to ensure
* show the diff of changes you made to make it work for you

[2016-01-21 03:25] neo5simple commented on #28
I'm so sorry about the description unclearly, because of the installation all from `yaourt` -- a package manager.

1. git clone from tag=release/jade/python_qt_bindding/0.2.16-0
2. when I run sort of `rqt` or `rqt_graph`, the error:

[code]

3. What I done:

[code]

[2016-01-21 03:26] dirk-thomas commented on #28
Please try if the problem still exists in the latest release: 0.2.17.

[2016-01-22 02:56] neo5simple commented on #28
It works for me, many thanks.

[2016-01-22 03:03] #28 closed

[2016-02-16 23:06] fjonath1 commented on #18
I can reproduce this error. I'm using OSX El Capitan, system python.
Building with catkin tool without isolate config or catkin_make_isolate will not have any problem.
Here is how I reproduce this error
1. Install catkin tools
2. go to catkin_ws (which contains src/python_qt_binding. In my case, the folder name is ros_catkin_ws)
3. Run `catkin config --isolate-install --isolate-devel`
4. Run `catk

[2016-02-16 23:20] dirk-thomas commented on #18
Please fill the ticket against [catkin_tools](https://github.com/catkin/catkin_tools). Since it is not recommended to use it yet I won't have time to look into the problem which might be just related to this new tools.

[2016-03-16 23:29] wjwwood opened #29 "Support for Qt5"
This is a dependency of rviz, @dirk-thomas do you think that any changes will be necessary here for the Qt5 migration? Currently the only issue is that it has a dependency on `python-qt-bindings` and `qt4-qmake` which would need to change on a Kinetic branch.

[2016-03-17 17:59] dirk-thomas commented on #29
The `qt5` branch already uses Qt5 dependencies in the manifest: https://github.com/ros-visualization/python_qt_binding/blob/781dc870e9a3ad7eb5376a8d80ecb54058fb63d4/package.xml#L30-L33

Beyond the changes already on that branch more work is necessary for PySide(2).

[2016-03-18 21:19] wjwwood commented on #29
I think we're tracking this well enough elsewhere, I'm going to close this.

[2016-03-18 21:19] #29 closed

[2016-04-11 02:10] mikepurvis opened #32 "Installation fails when alone in workspace"
This may or may not be a duplicate of #18, but it's definitely happening to me with regular old catkin_make:
[code]

Result:
[code]

Looks like [the buildfarm job passes](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__python_qt_binding__ubuntu_trusty_amd64__binary/3/console#console-section-1) due to a sneaky little mkdir that happens in there, but seems not to happen for a regular old user lik

[2016-04-11 02:14] mikepurvis commented on #32
Wait, nevermind. The issue is that I'm on catkin 0.6.16, which predated this fix: https://github.com/ros/catkin/pull/775

[2016-04-11 02:14] #32 closed

[2016-04-14 21:53] dirk-thomas opened #33 "Running plugins menu broken when closing the last plugin [Qt5]"
An entry "Activate" appears when the last plugin is closed. After that the menu never changes again, e.g. it doesn't show new entries for opened plugins anymore.

This is related to the transition to Qt 5 in #30. It happens with PyQt as well as PySide.

As a workaround the menu can hold an invisible action.

[2016-04-14 21:55] dirk-thomas opened #34 "Multi process support broken [Qt 5]"
The `X11Embed*` classes have been removed in Qt 5. Maybe the feature can be reimplemented using `QWindow::fromWinId()` and `QWidget::createWindowContainer()`.

This is related to the transition to Qt 5 in #30.

[2016-04-14 23:50] dirk-thomas commented on #33
I was able to reproduce the problem in C++ as well (https://gist.github.com/dirk-thomas/ad2df445e150c0a3545a357ef3da806c) and created a ticket upstream: https://bugreports.qt.io/browse/QTBUG-52582

[2016-04-18 11:40] simonschmeisser opened #35 "if python2 with Qt4 and python3 with PyQt5 are installed, python2 is choosen"
I'm not sure if this is the right place but I want to report it somewhere ...

On Ubuntu Trusty 14.04, PyQt4 is available for python 2.7 (the default), while PyQt5 is only available for python 3.4 (package python3-pyqt5).

Since the default python version is used, no pyqt5 package is found

[ 62%] Running SIP generator for rviz_sip Python bindings...
Traceback (most recent call last):
  File "/hom

[2016-04-18 17:26] dirk-thomas commented on #35
On Trusty (which is targeted by ROS Indigo and Jade) we only support Qt 4. The code for these releases is on the `groovy-devel` branch.

As of the upcoming ROS Kinetic release this package supports only Qt 5. That is the code on the default branch (`kinetic-devel`). But ROS Kinetic will still use Python 2.7 and PyQt 5 is available for Python 2 in these Ubuntu distros: http://packages.ubuntu.com/xe

[2016-04-18 17:26] #35 closed

[2016-04-18 22:05] #33 closed

[2016-04-20 21:21] jgoppert opened #36 "cannot import QAction on kinetic"
[code]

[2016-04-20 21:22] #36 closed

[2016-04-20 21:22] dirk-thomas commented on #36
Duplicate of ros-visualization/rqt_common_plugins#363

[2016-04-21 20:21] dirk-thomas commented on #34
Not sure if this is actually supported: see e.g. https://bugreports.qt.io/browse/QTBUG-44404

[2016-05-02 12:44] harvcode opened #38 "kinetic version breaks rqt_graph"
command ran: rosrun rqt_graph rqt_graph
error:

`  File "/opt/ros/kinetic/lib/python2.7/dist-packages/rqt_gui/ros_plugin_provider.py", line 83, in load
    raise e
ImportError: cannot import name QGraphicsPathItem
`

error originates from here:

` File "/opt/ros/kinetic/lib/python2.7/dist-packages/qt_dotgraph/edge_item.py", line 32, in <module>
    from python_qt_binding.QtGui import QBrush, QGrap

[2016-05-02 16:15] dirk-thomas commented on #38
It seems like you are using an older version of `qt_dotgraph`. Version 0.3.2 imports that class from QWidgets: https://github.com/ros-visualization/qt_gui_core/blob/kinetic-devel/qt_dotgraph/src/qt_dotgraph/edge_item.py#L33

[2016-05-03 08:43] harvcode commented on #38
I am using the version that gets installed automatically from the kinetic binaries, so perhaps the repository binaries need to be changed to reflect this?

[2016-05-03 15:47] dirk-thomas commented on #38
Please state the exact version number of  `qt_dotgraph` as well as `rqt_graph` you are using.

[2016-05-03 16:16] tfoote commented on #38
@harvcode The versions available from binary have changed recently. That's why we need to confirm the version on your system.

[2016-05-03 21:21] harvcode commented on #38
ros-kinetic-qt-dotgraph/xenial,now 0.3.2-0xenial-20160428-192006-0700 amd64
ros-kinetic-rqt-graph/xenial,now 0.4.0-1xenial-20160429-165937-0700 amd64

[2016-05-03 21:27] dirk-thomas commented on #38
The code in the error message in your original comment (edge_item.py, line 32) does not match the code available in these versions.

Version 0.3.0 has the line you quoted above: https://github.com/ros-visualization/qt_gui_core/blob/0.3.0/qt_dotgraph/src/qt_dotgraph/edge_item.py#L32

Version 0.3.1 as well as 0.3.2 have this instead which should work:
* https://github.com/ros-visualization/qt_gui_co

[2016-05-03 21:31] harvcode commented on #38
Just tried it again and I still get "ImportError: cannot import name QFormLayout".

Apt says I am up to date on both of those packages and lists those versions.

[2016-05-03 21:55] dirk-thomas commented on #38
Since the error is different then what you reported above please post the complete error message and steps you did to reproduce.

[2016-05-03 21:57] harvcode commented on #38
From command line: rqt
From menu: Plugins > Robot Tools > Controller Manager
Error appears in console.

[2016-05-03 22:56] dirk-thomas commented on #38
Please post the full error message.

[2016-05-03 23:03] harvcode commented on #38
`
PluginManager._load_plugin() could not load plugin "rqt_controller_manager/ControllerManager":
Traceback (most recent call last):
  File "/opt/ros/kinetic/lib/python2.7/dist-packages/qt_gui/plugin_handler.py", line 99, in load
    self._load()
  File "/opt/ros/kinetic/lib/python2.7/dist-packages/qt_gui/plugin_handler_direct.py", line 54, in _load
    self._plugin = self._plugin_provider.load(sel

[2016-05-04 00:13] dirk-thomas commented on #38
The stack trace indicates that the problem is in the package `rqt_controller_manager` which is in your local workspace (I assume it hasn't been released into Kinetic yet?). You might want to fill a ticket in the repository which contains that package: https://github.com/ros-controls/ros_control/issues

[2016-05-04 00:14] #38 closed

[2016-09-29 09:06] facontidavide opened #39 "Can install ros-kinetic-python-qt-binding"
Hi,

I have Ubuntu 16.04 64 bits and I am tryin to install ros-kinetic-python-qt-binding.
Unfortunately I get this error:

[code]

Note that __libpyside2-dev__ is installed

[code]

[2016-09-29 14:43] dirk-thomas commented on #39
The packages install fine for me as well as on the build farm. Therefore I don't think it is a problem with the packages itself but related to your system state.

You might want to ask the question on answers.ros.org (and try to search for similar questions before) to get feedback from a bigger audience.

[2016-09-29 18:11] tfoote commented on #39
`E: Unable to correct problems, you have held broken packages.` indicates that you have broken apt packages on your system. You need to resolve that before most apt based operations will work.

Here are a few resources that may help you.
https://www.linuxquestions.org/questions/linux-desktop-74/unable-to-correct-problems-you-have-held-broken-packages-4175510237/
https://www.linuxquestions.org/ques

[2016-09-29 18:11] #39 closed

[2017-03-15 17:20] dirk-thomas opened #41 "Support for Ubuntu Zesty"
Currently `shiboken2` and `PySide2` are not available on Zesty: see https://launchpad.net/~thopiekar/+archive/ubuntu/pyside-git/+packages

Therefore they have been removed from the rosdep key in ros/rosdistro#14180 to allow building the packages with PyQt support only.

[2017-03-26 18:59] tngan commented on #35
@dirk-thomas I have similar problem. I am in ROS kinetic (Ubuntu 16.04) and have already installed python-pyqt5. When I run rqt_reconfigure, the following error is shown.

[code]

[2017-03-27 15:45] dirk-thomas commented on #35
@tngan Have you tried using PyQt5 without rqt? Maybe try to run the following to see if it is installed correctly: `python -c "from PyQt5 import QtCore"`

Since your question is different from the original ticket you might want to ask it in answers.org instead for a higher chance of people answering it.

[2017-10-18 23:07] Evidlo opened #42 "qregularexpression.h not found on Fedora"
Compilation fails with the message

[code]

`src/python_qt_binding/cmake/sip_configure.py` is hardcoded to use the `qmake` binary without doing any version checking.  On Fedora, it's actually called `qmake-qt5` and `qmake` doesn't exist.

Another user using Slackware [ran into the same issue](http://barelywalking.com/?p=13).

Maybe the script should look for `qmake-qt5` first, then try `qmake` (wi

[2017-10-18 23:23] dirk-thomas commented on #42
Shouldn't it actually fail with something like "qmake not found" rather than a header not being found?

Please consider to provide a pull request for this.

[2017-10-18 23:45] dhood commented on #42
`qmake` is typically just a symlink to `qtchooser` on ubuntu (apparently this is different with fedora). Do you have qtchooser installed? You might just need to configure it to pass through to the `qmake-qt5` executable, instead of modifying the code

[2017-10-19 01:20] Evidlo commented on #42
@dirk-thomas You're right.  The error is different because I had manually symlinked qmake to qtmake-qt4.  The issue remains however.

@dhood Installing the `qtchooser` package fixed the issue.  Is this an issue with rosdep?

[2017-10-20 20:28] riebl commented on #42
I have stumbled across the same issue, however, there is no qtchooser on openSUSE Leap 42.3 (at least I am not aware of it). #43 fixes this build issue on my system by calling qmake-qt5 if available and falling back to qmake. In my opinion this should not break builds on Ubuntu.

[2017-10-23 18:02] dirk-thomas commented on #42
Addressed by #43.

[2017-10-23 18:02] #42 closed

[2017-10-30 18:11] dirk-thomas commented on #41
The packages have been built in the meantime but they only seem to support Python 3 on these platforms (see ros/rosdistro#16216).

Therefore I will close this as "wontfix" until ROS 1 switches to Python 3.

[2017-10-30 18:11] #41 closed

[2018-03-21 12:08] machinekoder opened #44 "QtQml support is missing"
`python_qt_binding` does not support QtQml so far.

[2018-03-21 12:39] dirk-thomas commented on #44
This abstraction later is currently used by `rqt` and `rviz` and neither of them used Qml at the moment.

If this is of interest for you please consider contributions a PR for adding support for it.

[2018-03-21 12:40] dirk-thomas commented on #44
Never mind, I just saw the referenced PR.

[2018-03-30 21:30] #44 closed

[2018-04-02 22:59] #34 closed

[2018-04-02 23:00] dirk-thomas commented on #34
Since these is not much hope that Qt will support this again I removed the command line option for now.

[2018-06-05 18:02] machinekoder opened #46 "PyPi package is outdated"
See https://pypi.org/project/python_qt_binding/
Last update 2016, does not reflect the changes for Qt5

[2018-06-08 09:40] machinekoder opened #47 "Melodic package is outdated"
The pre-built package for ROS melodic is outdated / not on the kinetic-devel branch.

[2018-08-03 16:38] dirk-thomas commented on #47
I just created a new release: ros/rosdistro#18719

[2018-08-03 16:38] #47 closed

[2018-08-03 16:38] dirk-thomas commented on #46
I uploaded the latest release to PyPI: https://pypi.org/project/python_qt_binding/0.3.4/

[2018-08-03 16:38] #46 closed

[2018-09-14 17:54] machinekoder opened #49 "Select Qt binding via environment"
At the moment one needs to modify the `sys' module to select a specific Qt binding or to alter the binding order. I think it would be beneficial to also provide a way to change the Qt binding via environment variable.

E.g.
[code]

[2018-09-14 17:57] dirk-thomas commented on #49
Applications using this library (e.g. `rqt`) have their own command line arguments to choose the binding: https://github.com/ros-visualization/qt_gui_core/blob/9ebbf808438af6355a4313439f04a0b81559998c/qt_gui/src/qt_gui/main.py#L76-L77

Adding support for an environment variable would also be possible. Please consider to provide a pull request to add this feature and make sure that it works well wi

[2018-09-16 17:50] machinekoder opened #50 "Using CMake extras in non-ROS project"
Is it possible to use the CMake package provided by `python_qt_binding` in other non-ROS projects?

[2018-09-16 19:05] machinekoder commented on #50
Then the question is how. It looks like `catkin` generates a `python_qt_bindingConfig.cmake` from the source of this project.

[2018-09-16 19:13] dirk-thomas commented on #50
I am not sure I understand your question.

Yes, that enables you to `find_package(python_qt_binding)` from any other CMake file.

[2018-10-08 15:30] dirk-thomas commented on #50
I am not sure if my previous comments have answered your question but I will go ahead and close this ticket for now due to no further response. Please feel free to continue commenting.

[2018-10-08 15:30] #50 closed

[2019-05-03 02:19] rafiq-rana opened #62 "Failed to process package 'python_qt_binding'"
CMake Error at /opt/ros/melodic/share/catkin/cmake/assert.cmake:17 (message):

  Assertion failed: check for file existence, but filename
  (RT_LIBRARY-NOTFOUND) unset.  Message: RT Library

Call Stack (most recent call first):
  /opt/ros/melodic/share/catkin/cmake/tools/rt.cmake:42 (assert_file_exists)
  /opt/ros/melodic/share/catkin/cmake/all.cmake:163 (include)
  /opt/ros/melodic/share/catkin/c

[2019-06-10 04:27] ashishk88 opened #63 "PyQT5 requires Python 3.4 or above, why is PyQt5 a requirements?"
https://github.com/ros-visualization/python_qt_binding/blob/0c4250629f8b02ca80f710628c6110714f182a22/cmake/sip_configure.py#L9

[2019-06-10 05:29] dirk-thomas commented on #63
ROS 1 Kinetic and newer as well as ROS 2 target Qt 5: see [REP 3](http://www.ros.org/reps/rep-0003.html#kinetic-kame-may-2016-may-2021). Therefore in those distributions `PyQt5` is being used.

Why do you think that is the case? ROS 1 uses Python 2 and works just fine with PyQt 5.

[2019-06-10 17:34] dirk-thomas commented on #62
Please provide more information like the platform, version, what version of the repo are you trying to build, exact steps / commands being invoked...

[2019-07-23 18:35] danielwangksu opened #65 "Accident string concatenation"
https://github.com/ros-visualization/python_qt_binding/blob/0c4250629f8b02ca80f710628c6110714f182a22/src/python_qt_binding/binding_helper.py#L85-L87

[2019-07-23 18:59] dirk-thomas commented on #65
Thank you for reporting the problem. Please consider taking the time to create a pull request for it - especially if the patch is that trivial.

[2019-07-23 22:40] danielwangksu commented on #65
Sure @dirk-thomas

[2019-07-23 22:43] #65 closed

[2019-08-07 13:24] MikeChou opened #69 "cmake file from new version of shiboken2 does not set `SHIBOKEN_BINARY` any more"
At least for `shiboken2` v5.13.0, cmake file set target `Shiboken2::shiboken2`, not variable `SHIBOKEN_BINARY` any more.

In `shiboken_helper.cmake`, we should detect and then choose to use `${SHIBOKEN_BINARY}` or `Shiboken2::shiboken2` correspondingly.

Workaround for users with this issue: change `${SHIBOKEN_BINARY}` to `Shiboken2::shiboken2` in `shiboken_helper.cmake`.

[2019-08-07 15:40] dirk-thomas commented on #69
Please consider to contribute a pull request to address this.

[2019-09-12 11:30] simonschmeisser opened #72 "New release for melodic"
I just switched to Qt 5.12.4 on my test system and noticed that I need the current version from git to compile rviz due to #64 Could we have a new release soon for convenience?

thanks!

[2019-09-17 15:55] dirk-thomas commented on #72
A release for which ROS  distribution?

[2019-09-17 15:57] simonschmeisser commented on #72
ah sorry mixed up Ubuntu and ROS code names ... I was talking about melodic

[2019-09-30 18:57] dirk-thomas commented on #62
Closing due to no response.

[2019-09-30 18:57] #62 closed

[2019-09-30 18:58] dirk-thomas commented on #63
Closing due to no response.

[2019-09-30 18:58] #63 closed

[2019-09-30 21:40] dirk-thomas commented on #72
Done in ros/rosdistro#22454.

[2019-09-30 21:40] #72 closed

[2019-10-01 15:17] rhaschke opened #76 "latest melodic release 0.3.6 breaks rviz on buildfarm"
@dirk-thomas, yesterday's release of python_qt_binding (https://github.com/ros/rosdistro/pull/22454) breaks all rviz binary builds on the build farm, e.g. http://build.ros.org/job/Mbin_ds_dS64__rviz__debian_stretch_amd64__binary/6/display/redirect
Any idea, why cmake cannot find python_qt_binding anymore?

[2019-10-01 16:20] dirk-thomas commented on #76
As of #75 the package uses the conditional attributes for the dependencies. It seems that `bloom` isn't including the dependencies in the `control` file. @wjwwood @nuclearsandwich ?

[2019-10-01 18:21] nuclearsandwich commented on #76
I can't assign myself to this issue but I am looking into it.

[2019-10-01 21:40] nuclearsandwich commented on #76
The issue is that bloom only allows conditions that it can determine from the distribution index and the python version is not currently one of them. (See https://github.com/ros-infrastructure/bloom/pull/519 for the PR which introduced the behavior and why the local environment isn't used.) An addition to the index to specify the python version is being proposed to provide a source for that inform

[2019-10-02 01:52] #76 closed

[2019-10-24 11:43] no-preserve-root commented on #69
@dirk-thomas Is the MR #77 okay? It should fix the issue and be compatible with older Shiboken versions.

[2019-10-24 15:58] #69 closed

[2019-11-20 17:04] stertingen opened #78 "PySide2 uses CMake target instead of variable"
On Arch linux (PySide2 version 5.13.2), the variables `PYSIDE_LIBRARY` and `PYSIDE_INCLUDE_DIR` are not set, which leads to build failures like https://github.com/ros-visualization/qt_gui_core/issues/142.

Setting `PYSIDE_INCLUDE_DIR` as CMake argument is a workaround, but not a clean solution.

A proper fix could look like https://github.com/FreeCAD/FreeCAD/commit/3939e4543ef4be6c50581d9bff77e930

[2019-11-20 17:14] dirk-thomas commented on #78
Please consider to contribute a pull request to address this in a backwards compatible way.

[2020-01-03 19:48] jwhendy opened #80 "Location of sip files may be different based on distro/python version"
Greetings,

Would you be able to take a look at [this comment](https://github.com/ros-melodic-arch/ros-melodic-rviz/issues/9#issuecomment-570678436) on this issue? We ran into a snag on arch linux with the code in [`sip_configure.py`](https://github.com/ros-visualization/python_qt_binding/blob/kinetic-devel/cmake/sip_configure.py).

Compiling `ros-melodic-rviz` failed when trying to find the sip P

[2020-01-03 19:58] dirk-thomas commented on #80
I don't know to what there packages equate on Ubuntu. The two Ubuntu packages [python-pyqt5](https://packages.ubuntu.com/bionic/amd64/python-pyqt5/filelist) and [python3-pyqt5](https://packages.ubuntu.com/bionic/amd64/python3-pyqt5/filelist) seem to use the same (beside Python version) locations for the files.

The file `QtCoremod.sip` is part of the Ubuntu package [pyqt5-dev](https://packages.ubu

[2020-01-03 20:13] antonio-rojas commented on #80
The sip bindings location depends on the sip version used to compile pyqt. As distributions start moving to sip 5, they will start using the latter location.

[2020-01-03 20:15] jwhendy commented on #80
I think this issue is that it can't find the root directory for *any* sip bindings. I don't have my build output up any longer, but don't recall a specific file it failed to find. To my memory, my output looked like [this replicator's output](https://github.com/ros-melodic-arch/ros-melodic-rviz/issues/9#issuecomment-568573352) (hence starting the debug there):
[code]

I was looking for other distr

[2020-01-03 20:25] antonio-rojas commented on #80
I don't think this is documented anywhere other than the source code. Arch ships both sip 4 and sip 5. All python 3 bindings are built with sip 5.

[2020-01-03 20:31] eli-schwartz commented on #80
One of my packages uses sip to build, and upstream adapted to sip5 with the following commit: https://github.com/kovidgoyal/calibre/commit/5ef79c742a87df12d8c0c6024bd41cb061019bef

[2020-02-07 17:02] stertingen opened #81 "Segmentation fault when running rqt with PySide"
Central question: **Has Shiboken2/PySide2 ever worked on Kinetic/Xenial?**

Running rqt with PySide leads to:
[code]
Backtrace in gdb:
[code]

**Package versions:**
python-qt-binding: 0.2.17-1
ros-kinetic-python-qt-binding: 0.3.4-0xenial-20191214-042219+0000
ros-kinetic-qt-gui{,-core,-cpp}: 0.3.11-0xenial-20191214-062939+0000
ros-kinetic-rqt{,-gui,-gui-cpp}: 0.5.0-0xenial-20191214-070708+0000

**T

[2020-02-07 17:12] dirk-thomas commented on #81
This looks like a duplicate of ros-visualization/qt_gui_core#66.

[2020-02-07 17:12] #81 closed

[2020-02-14 20:03] sloretz opened #82 "python_qt_binding Noetic Release?"
Mind releasing this repo into Noetic? It looks like all dependencies have been released. It looks like 175 other repos need `python_qt_binding` to be released.

http://repositories.ros.org/status_page/blocked_releases_noetic.html?q=id%3D%22python_qt_binding%22&s=6&r=1

[2020-02-18 03:57] awesomebytes commented on #82
If we could re-release also on kinetic, that would be great.

Currently needing on Gentoo something over 0.3.4 to get this `-l-lpthread` fix: https://github.com/ros-visualization/python_qt_binding/commit/0a4893791039d5c3f851ee7bc2de832209d52f6d

[2020-02-26 19:10] dirk-thomas commented on #82
On Feb 18th the necessary dependencies have been updated from Python 3.7 to Python 3.8. These updated debs are now available so I will look into making a Noetic release soon.

[2020-02-28 22:25] dirk-thomas commented on #82
@awesomebytes Even though off topic: 0.3.7 has been released into Kinetic.

[2020-02-28 23:38] #78 closed

[2020-02-28 23:55] dirk-thomas commented on #82
Done: ros/rosdistro#23906.

[2020-02-28 23:55] #82 closed

[2020-03-03 23:15] awesomebytes commented on #82
@dirk-thomas Thank you very much :)

[2020-04-23 14:51] tricoveri opened #90 "Failing installation on Ros due to PyQt5 issue"
I'm super newbie to Linux. I am trying to install Ros Lunar on an old 32 bit computer with Lubuntu on
I get this message error
[code]

Tried to both install PyQt5 using pip command and using alien to turn the .tar.bs into a .deb package.
What directory should I search the package in?
Thanks

[2020-05-28 16:41] dirk-thomas commented on #90
I am not sure if you have seen the [ROS support guidelines](http://wiki.ros.org/Support) but we kindly ask to raise questions like this on [answers.ros.org](http://answers.ros.org/) instead.

The rational for asking all kind of questions in a single place is:
* There are many more people reading questions there so your chances on getting an answer and in a timely manner are much higher.
* In the f

[2020-05-28 16:41] #90 closed

[2020-06-11 18:48] dirk-thomas commented on #49
Closing due to no activity for a long time. Please feel free to contribute a pull request to implement the feature idea.

[2020-06-11 18:48] #49 closed

[2021-03-01 16:07] #80 closed

[2021-04-15 19:44] wjwwood opened #103 "Failure to find SIP on macOS"
When testing ROS 2 Galactic (actually rolling since we haven't forked yet) on macOS Mojave, packages downstream of `python_qt_binding` fail to find SIP like this:

[code]

This is the version of SIP that is installed by default (as of writing) on a fresh macOS machine:

[code]

I'm not sure if it is because we just need something like https://github.com/ros-visualization/python_qt_binding/pull/94

[2021-04-29 06:29] kristoferB commented on #103
Hi. I just found this out as well. The problem is that sipconfig was removed after SIP 4. So the
[code]
in /python_qt_binding/cmake/sip_helper.cmake fails. However, PyQt and all bindings are already installed when I install it via brew and sip also works. To make rolling build, I removed the error in ros-visualization/qt_gui_core/qt_gui_cpp/src/CMakeLists.txt:
[code]
After that everything is build

[2021-04-29 13:41] clalancette commented on #103
It's a good question.  Most of the RQt tools are written in Python already, so they don't really need the SIP stuff.  A quick look around seems to say that we don't actually use the C++ rqt stuff (at least, none of the package.xml files depend on it).

So one way out of this may be to just remove the `qt_gui_cpp` stuff completely.

[2021-05-06 00:08] zmk5 commented on #103
Hey everyone, according to [Riverbank Computing](https://riverbankcomputing.com/software/sip/download) version 4 is unsupported, however they provide `tar` and `zip` files with version 4.19.25. I've attempted to install ROS Galactic on Big Sur and have been unsuccessful in getting `qt_gui_cpp` to install for another reason:

[code]

If I come up for a solution to this other python problem then I t

[2021-05-06 09:13] kristoferB commented on #103
I think that either the possibility for c++ plugins in rqt is removed or that the code is updated to SIP 6. Maybe as @clalancette suggested, this is not really used and could be removed. There have always been a lot of issues with this on mac.

[2021-05-07 21:33] zmk5 commented on #103
Another work around maybe to use PySide instead of PyQt? I'm not sure about the feasibility of it but I know RViz allows for both.

[2021-05-13 10:58] alsora commented on #103
I just came across this problem.
In my case I'm using Linux, but I'm installing Python packages via `pip` rather than via `apt-get` in order to use them in a virtual environment.

Running `apt-get install python3-sip` installs version 4.19.7 (which includes sipconfig) on the other hand `pip3 install sip` installs version 6 which does not include sipconfig.
Similarly it looks like sipconfig is not

[2021-12-03 19:08] eaglesemanation opened #111 "build_sip_binding fails with Ninja build"
On Fedora 35 build of `qt_gui_cpp` fails with this error:
[code]
That is caused by hard-coded Make variable `$(MAKE)` in [sip_helper.cmake](https://github.com/ros-visualization/python_qt_binding/blob/dbf553b69f47d5c9a4c50783c61ddb21a43ea2e1/cmake/sip_helper.cmake#L96). If I change it to `make` everything works correctly, but I'm not sure if it's a good solution.
On my system, CMake defaults to Nin

[2022-02-15 16:26] omerts commented on #103
@alsora Can you please elaborate on how to ignore those packages?

[2022-02-15 16:37] alsora commented on #103
@omerts
Just add a file named `COLCON_IGNORE` into the `qt_gui_cpp` and `rqt_gui_cpp` folders...
Or just remove them alltogether from your workspace

[2022-03-24 14:40] lorepieri8 commented on #103
`
colcon build --symlink-install --packages-ignore qt_gui_cpp rqt_gui_cpp
`

[2022-08-29 08:10] ipa-cmh opened #114 "Pyside support and usage"
@sloretz
### Motivation
I was working on https://github.com/ros2/rviz/pull/889 and I have found a couple of issues with qt python integration, especially dependencies. I was looking into creating python bindings for rviz only with PySide2. No I was wondering how to resolve dependencies and turns out there is no key for pyside2 is not in rosdistro but partially in python_qt5_bindings. This all seem

[2022-08-29 11:53] clalancette commented on #114
You made a very good analysis of the issue, thanks.

In short, I would absolutely love to clean this up.  It just hasn't been high on anyone's priority list.  I agree with you that it would be much better to pick one solution here, and make it work.  Keep in mind that whatever solution we pick has to satisfy the following constraints:

1. It has to have packages available in the default repositori

[2022-08-29 12:49] ipa-cmh commented on #114
First, thanks for the fast response!

Okay, that RHEL narrows things down to pyqt5 as default option, as there is no PySide2 packages available. QtPy is not available in RHEL package index, but it could be installed via pip.

PySide adn pyqt have versions that work with Qt5 and Qt6, qtpy works with qt4-6.

All are installable with pip on Windows so it should work - primary target of pyside seems t

[2022-08-29 15:46] ipa-cmh commented on #114
Okay, one correction, qtpy seems to be in EPEL 8 https://packages.fedoraproject.org/pkgs/python-QtPy/python3-QtPy/. So I think we can move along with using qtpy as well.

[2022-08-29 17:15] sloretz commented on #114
This package was carried over from ROS 1. I'm not familiar with QtPy, but I'd guess it wasn't an option back when this package was created. It seems like QtPy and `python_qt_binding` have the same purpose.

QtPy:

[code]

This package `python_qt_binding`:

[code]

Is it possible to remove `python_qt_binding` completely and switch downstream packages to QtPy? If so, I'd recommend that instead of mo

[2022-08-29 20:07] ipa-cmh commented on #114
Yes this should be possible. I have added a temporary pass through in #115, that uses qtpy and warns users, that import via python_qt_binding is going to be deprecated.

[2022-08-30 02:16] srmainwaring commented on #103
The Python bindings are still used in a few of the rqt plugins. The pyside / shiboken bindings do work on macOS, and if the sip bindings are excluded then `python_qt_binding` and its dependent packages will build and run.

I've made a couple of non-portable patches to illustrate the changes. brew installs `pyside@2` and `qt@5` as keg only and I've hardcoded the paths to these in `find_package` to

[2022-08-30 11:56] clalancette commented on #103
@srmainwaring If you find a way to clean up those patches, we'd be happy to review them.

Additionally, @ipa-cmh has started working in this area to try to rectify all of the different ways we use Python with Qt.  See https://github.com/ros-visualization/python_qt_binding/pull/115 , https://github.com/ros2/rviz/pull/889 , and https://github.com/ros-visualization/python_qt_binding/issues/114 .

[2022-08-30 15:55] ipa-cmh commented on #114
Alright, what I have done for now is the following:
* add python3-pyqt5, python3-pyside2 and python3-qtpy keys to rosdistro: (https://github.com/ros/rosdistro/pull/34247, https://github.com/ros/rosdistro/pull/34246, https://github.com/ros/rosdistro/pull/34243)
* #116 add windows, c++17 and external project support to shiboken_helper.cmake
* #117 adds deprecation warning for import of python_qt_bin

[2022-09-02 11:47] srmainwaring commented on #103
@clalancette I've cleaned up the patches and submitted these PRs:

- https://github.com/ros-visualization/python_qt_binding/pull/118
- https://github.com/ros-visualization/qt_gui_core/pull/268

There is an ugly macOS specific work-around for the shiboken generator's include dependency on some Qt components. Depending on the plans / timelines you mention above to streamline the approaches to use Qt

[2022-10-16 18:32] a17r opened #119 "cmake/sip_configure.py: Use of non-standard qmake binary names not completely solved"
This was already touched in https://github.com/ros-visualization/python_qt_binding/issues/22 but not really solved.

Whatever you think will be in PATH for qmake, it is not standardised at all prior to Qt6. In Qt6, upstream finally decided to make Qt installable side-by-side using `6` suffix on respective Qt binaries, and they also introduced a distinction on what would be "user-facing" (in PATH)